*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    background-color: #EDEDED;
}
/* body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  /* body {
    -ms-overflow-style: none;  /* IE and Edge */
    /* scrollbar-width: none;  /* Firefox 
  }  */