node_modules
/.cache
/server/build
/public/build
.env
.env.dev
.env.test
.env.prod
dockerfile
docker-compose.yml
codegen.yaml
/app/prisma/migrations
/app/tailwind.css
/build 

# Local Netlify folder
.netlify
.vercel
